<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>QuickPay</title>
    </head>


    <body>
		<h1>QuickPay</h1>

        <table>
		<tr>
		<th style="text-align:left">Username: <td>{{user.username}}<br/>

        <th style="text-align:left">Balance: <td>{{user.account.balance}}
		</table>


        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>
		
        <h2>Previous Quickies:</h2>

		{% for msg in msgs %}

        <i>From {{msg.source}} to {{msg.target}}</i></br>
		{{msg.content|safe}}
        {{msg.amount|safe}}
		</br>
		</br>

		{% endfor %}

        <h2>Get Quickies:</h2>

    
        <form action='aggregate/' method="GET">
            <!-- {% csrf_token %} -->
            <span>From:</span><br/>
            <select name="from">
            {% for account in accounts %}
                <option value="{{account.user.username}}">{{account.user.username}}</option>
			{% endfor %}
            </select><br/>

            <input type="submit" value="GetQuicks"/>
        </form>


        <h2>Your coupons:</h2>

        <table>
		{% for coupon in coupons %}
		<tr>
		<td>
		{{coupon.name}}
		<td>
		<a href="download/{{coupon.id}}">Download</a>
		<td>
        {% endfor %}
        </table>
        <h2>Send quickies:</h2>

        <form action='transfer/' method="GET">
            <!-- {% csrf_token %} -->
            <span>To:</span><br/>
            <select name="to">
			{% for account in accounts %}
                <option value="{{account.user.username}}">{{account.user.username}}</option>
			{% endfor %}
            </select><br/>

            <span>Amount:</span><br/>
            <input type="number" name="amount"/><br/>
            <textarea name="content" cols="40" rows="5"></textarea><br/>
            <input type="submit" value="Transfer"/>
        </form>

    </body>


    </body>
</html>
