<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>QuickPay</title>
    </head>


    <body>
		<h1>QuickPay</h1>

        <table>
		<tr>
		<th style="text-align:left">Username: <td>{{user.username}}<br/>

        <th style="text-align:left">Balance: <td>{{user.account.balance}}
		</table>


        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>
		
        <h2>Previous transactions:</h2>

		{% for msg in msgs %}

		<!-- <i>From {{msg.source.username}} to {{msg.target.username}}</i></br> -->
        <i>From {{msg.source}} to {{msg.target}}</i></br>
		{{msg.content|safe}}
        {{msg.amount|safe}}
		</br>
		</br>

		{% endfor %}

        <h2>Your coupons</h2>

        <table>
		{% for coupon in coupons %}
		<tr>
		<td>
		{{coupon.name}}
		<td>
		<a href="download/{{coupon.id}}">Download</a>
		<td>
        {% endfor %}
        </table>
        <h2>Send quickies:</h2>
        <!-- Error here is the presence of method get instead of POST -->
        <!-- "GET /transfer/?to=bob&amount=5&content=Thank+you+for+the+dinner%21 HTTP/1.1" 404 2537 -->
        <!-- See forgery tokens -->
        <!-- <form action='transfer/' method="GET"> -->
        <!-- <form action='/' method="POST">
            {% csrf_token %}
            <span>To:</span><br/>
            <select name="to">
			{% for account in accounts %}
                <option value="{{account.user.username}}">{{account.user.username}}</option>
			{% endfor %}
            </select><br/>

            <span>Amount:</span><br/>
            <input type="number" name="amount"/><br/>

            <textarea name="content" cols="40" rows="5"></textarea><br/>
            
            <input type="submit" value="Transfer"/>
        </form> -->


        <form action='transfer/' method="GET">
            <!-- {% csrf_token %} -->
            <span>To:</span><br/>
            <select name="to">
			{% for account in accounts %}
                <option value="{{account.user.username}}">{{account.user.username}}</option>
			{% endfor %}
            </select><br/>

            <span>Amount:</span><br/>
            <input type="number" name="amount"/><br/>
            <textarea name="content" cols="40" rows="5"></textarea><br/>
            <input type="submit" value="Transfer"/>
        </form>

        <!-- <form action='add/' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            To:
            <select name="to">
            {% for user in users %}
                <option value="{{user.username}}">{{user.username}}</option>
            {% endfor %}
            </select><br/>

			<textarea name="content" cols="40" rows="5"></textarea><br/>
            <input type="submit" value="Send"/>
        </form> -->
    </body>


    </body>
</html>
